@model Nyika.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/BasicSetup/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("RegisterUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="card text-white bg-dark p-md-0 mx-0 my-0" style="min-height:540px">
        <div class="card-header bg-dark">
            <div class="row">
                <div class="col-md-4">
                    <h4>Create User</h4>
                </div>
                <div class="col-md-8 text-right">
                    <div class="btn-group btn-group-justified">
                        <input type="submit" value="Register" class="btn btn-secondary mx-md-1" />
                        @Html.ActionLink("Back to List", "Index", "UserLists", new { Area = "BasicSetup" }, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body p-md-3 b-0 m-md-0">


            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-horizontal">

                        <div class="form-inline p-md-2">
                            @Html.Label("Roll", htmlAttributes: new { @class = "col-md-4 justify-content-end" })
                            <div class="col-md-8">
                                @Html.DropDownList("RollName", new SelectList(new[] { "Manager", "HR Executive", "Accountant", "User" }), htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-inline p-md-2">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 justify-content-end" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-inline p-md-2">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 justify-content-end" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-inline p-md-2">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 justify-content-end" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        @*<div class="form-inline p-md-2">
                                <div class="offset-md-4 col-md-4">
                                    <input type="submit" class="btn btn-outline-success" value="Register" />
                                </div>
                            </div>*@

                    </div>

                    <hr />
                    <p class="text-left bg-white text-dark p-md-3  my-md-4">
                        <strong>Help:</strong>
                        <br />
                        <strong>
                            Please remember passwords must have
                        </strong>
                        <br />
                        
                        at least 6 character long,
                        at least one special character ('!','$'),
                        at least one Digit ('0'-'9'),
                        at least one lowercase character ('a'-'z'),
                        at least one uppercase character ('A'-'Z')
                        <br />
                        <strong>Example: Abc123$</strong>
                        <br />
                        <strong class="text-danger">Avoid unnecessary hassle please use valid email address where user can receive reset link from us.</strong>
                        <br />
                    </p>

                </div>
               
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>@ViewBag.Msg</h4>
                </div>
            </div>
        </div>
    </div>
}
