@model Nyika.WebUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="offset-md-3 col-md-6">
        <div class="card">

            <div class="card-header">
                <h4>Change Password Form</h4>
            </div>

            <div class="card-block" style="min-height:275px">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.Hidden("RollName")

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-inline p-md-2">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 justify-content-end" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-inline p-md-2">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 justify-content-end" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-inline p-md-2">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 justify-content-end" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-inline p-md-2">
                        <div class="offset-4 col-5">
                            <input type="submit" class="btn btn-outline-success btn-block" value="Change password" />
                        </div>
                    </div>
                    <div class="p-md-2">

                    </div>
                }

            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}