@model Nyika.Domain.Entities.MF.Scheme

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/MF/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SchemeID)
    <div class="card text-white bg-dark p-md-0 mx-0 my-0" style="min-height:540px">
        <div class="card-header bg-dark">
            <div class="row">
                <div class="col-5">
                    <h4>Are you sure you want to delete this?</h4>
                </div>
                <div class="col-7 text-right">
                    <div class="btn-group btn-group-justified">
                       @if (TempData["Delete"].ToString() != "In use, can not delete at this moment")
                       {
                        <input type="submit" value="Delete" class="btn btn-danger mx-md-1" />
                       }
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body p-md-3 b-0 m-md-0">


            <div class="row">
                <div class="col-md-12">
                    <strong>
                        @Html.DisplayNameFor(model => model.SchemeName) :
                    </strong>
                    @Html.DisplayFor(model => model.SchemeName)
                </div>
            </div>

            @if (TempData["Delete"].ToString() == "In use, can not delete at this moment")
            {
                <div class="row my-md-3 text-center">
                    <div class="col-md-12">
                        <h4 class="text-white bg-danger p-md-5">@TempData["Delete"]</h4>
                    </div>
                </div>
            }
        </div>
    </div>
}
