@model Nyika.Domain.Entities.HR.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/HRnPayroll/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SectionID)
    <div class="card text-white bg-dark p-md-0 mx-0 my-0" style="min-height:540px">
        <div class="card-header bg-dark">
            <div class="row">
                <div class="col-5">
                    <h4>Are you sure you want to delete this?</h4>
                </div>
                <div class="col-7 text-right">
                    <div class="btn-group btn-group-justified">
                        <input type="submit" value="Delete" class="btn btn-danger mx-md-1" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body p-md-3 b-0 m-md-0">


            <div class="row">
                <div class="col-md-12">
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.PIN) :
                        </strong>
                        @Html.DisplayFor(model => model.PIN)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.EmployeeName) :
                        </strong>
                        @Html.DisplayFor(model => model.EmployeeName)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.JoiningDate) :
                        </strong>
                        @Html.DisplayFor(model => model.JoiningDate)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.Company.CompanyName) :
                        </strong>
                        @Html.DisplayFor(model => model.Company.CompanyName)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.Department.DepartmentName) :
                        </strong>
                        @Html.DisplayFor(model => model.Department.DepartmentName)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.Section.SectionName) :
                        </strong>
                        @Html.DisplayFor(model => model.Section.SectionName)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.Shift.ShiftName) :
                        </strong>
                        @Html.DisplayFor(model => model.Shift.ShiftName)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.Designation.DesignationName) :
                        </strong>
                        @Html.DisplayFor(model => model.Designation.DesignationName)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.EmploymentType.EmploymentTypeName) :
                        </strong>
                        @Html.DisplayFor(model => model.EmploymentType.EmploymentTypeName)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.Section.SectionName) :
                        </strong>
                        @Html.DisplayFor(model => model.Section.SectionName)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.GrossSalary) :
                        </strong>
                        @Html.DisplayFor(model => model.GrossSalary)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.PPFNSSFNumber) :
                        </strong>
                        @Html.DisplayFor(model => model.PPFNSSFNumber)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.BankAccountNumber) :
                        </strong>
                        @Html.DisplayFor(model => model.BankAccountNumber)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.ContractStartDate) :
                        </strong>
                        @Html.DisplayFor(model => model.ContractStartDate)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.ContractEndDate) :
                        </strong>
                        @Html.DisplayFor(model => model.ContractEndDate)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.ContactNumber) :
                        </strong>
                        @Html.DisplayFor(model => model.ContactNumber)
                    </p>
                    <p class="m-md-0">
                        <strong>
                            @Html.DisplayNameFor(model => model.Email) :
                        </strong>
                        @Html.DisplayFor(model => model.Email)
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>@ViewBag.Msg</h4>
                </div>
            </div>
        </div>
    </div>
}
