@model Nyika.Domain.Entities.Accounts.CashRequisition

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CashRequisition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Particulars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particulars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstanceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstanceID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CashRequisitionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
