@model IEnumerable<Nyika.Domain.Entities.MF.Loan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MF/Views/Shared/_Layout.cshtml";
}

<div class="card text-white bg-dark p-md-0 mx-0 my-0" style="min-height:540px">
    <div class="card-header bg-dark">
        <div class="row">
            <div class="col-md-7">
                <h4>Loan Settle List</h4>
            </div>
            <div class="col-md-5">
                <div class="form-inline float-right">
                    @using (Html.BeginForm("RegularLoan", "LoanSettle", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @*<h6>Member No / Member Name / Group No / Group Name</h6>*@
                        <div class="input-group text-center">
                            <input type="text" class="form-control" name="txtSearch" id="txtSearch" placeholder="Member / Group / Loan">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <strong>Find</strong>
                                </button>
                            </div>
                        </div>
                    }
                    @Html.ActionLink("Refresh", "Index", "LoanSettle", null, new { @class = "btn btn-secondary ml-md-2" })
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-md-3 b-0 m-md-0 text-dark">
        <table class="table table-responsive-md table-sm table-secondary table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Group
                    </th>
                    <th>
                        Member No
                    </th>
                    <th>
                        Member Name
                    </th>
                    <th>
                        Loan No
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Disb. Date
                    </th>
                    <th>
                        Disb-Amt
                    </th>
                    <th>
                        Interest
                    </th>

                    <th>
                        Cycle
                    </th>
                    <th>
                        Settlement Date
                    </th>

                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Groups.GroupsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.MemberNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.MemberName)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.LoanNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanStatus)
                </td>
                <td>
                    @item.DisbursementDate.ToString("dd/MMM/yyyy")

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisbursedAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestAmount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LoanCycle)
                </td>

                <td>
                    @if (item.SettlementDate != new DateTime(1900, 01, 01))
                    {
                        @item.SettlementDate.ToString("dd/MMM/yyyy")
                    }
                </td>

                <td class="text-right">
                    <div class="btn-group text-white m-md-0 p-md-0">
                        @if (item.isSettle == true)
                        {
                            <a class="btn btn-danger" href="@Url.Action("Undo", "LoanSettle", new { id = item.LoanID })" data-toggle="tooltip" data-placement="top" title="Undo"><strong>X</strong></a>
                        }
                        else
                        {
                            <a class="btn btn-dark" href="@Url.Action("Settle", "LoanSettle", new { id = item.LoanID })" data-toggle="tooltip" data-placement="top" title="Settle Loan"><strong>S</strong></a>
                        }
                    </div>
                </td>
            </tr>
            }

        </table>
    </div>
</div>


