
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="jumbotron jumbotron-fluid mb-md-0 px-md-0 mx-md-0 pb-md-0" style="background: url(@Url.Content("~/Images/nyikabk.jpg?"+@DateTime.Now.ToFileTime())) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container text-center">
        <h1>The All-in-One <strong>HR + Payroll + Accounting</strong> Solution</h1>
        <h6>Save <strong>time</strong>, Save <strong>money</strong>.Manage your human resource, prepare payroll and have control on your accounts.</h6>
        <div class="pt-md-2 pt-md-1"><a class="btn btn-success btn-lg badge-pill px-md-5" href="/Register" id="registerLink">Start For Free</a></div>
        <h6 class="text-dark">Try it free for 14 days. No credit card required. Cancel anytime.</h6>
        <img src="@Url.Content("~/Images/background.png?"+@DateTime.Now.ToFileTime())" class="img-fluid pt-md-2 text-center" />
    </div>
</div>


<div class="row text-center p-md-5 m-md-0 bg-light">
    <div class="col-md-12 p-md-1">
        <div class="p-md-1">
            <div class="form-group d-md-none">
                &nbsp;
            </div>
            <h1 class="text-center"><strong class="text-info">What is Nyika</strong></h1>

            <h4 class="p-md-5">
                In Swahili Nyika means wilderness. Nyika is an online business intelligence 'Software as a Service' application provided by <strong><a href="http://www.azmainventures.com" target="_blank" style="color:#ff6038;text-decoration:none">Azmain Ventures Limited</a></strong> comes as a saviour in the
                wild business world which helps company of any size to manage <strong>HR data</strong>, <strong>prepare Payroll</strong>, <strong>track Income and Expenditure</strong>
                and <strong>transparent Audit</strong>. Nyika is simple to use, affordable and reliable.
            </h4>
            <div class="row pb-md-5">
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item active">Overview</li>
                        <li class="list-group-item">Easy to use system</li>
                        <li class="list-group-item">Role-based access to information</li>
                        <li class="list-group-item">Mobile Friendly</li>
                        <li class="list-group-item">Secure Data Storage</li>
                        <li class="list-group-item">SSL Security</li>
                        <li class="list-group-item">Data Import/Export</li>
                        <li class="list-group-item">Compliance with labor laws and tax standards</li>
                        <li class="list-group-item">Customization and scalability</li>
                        <li class="list-group-item">Self Service Portals</li>
                        <li class="list-group-item">Affordable monthly/yearly payments</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item active">HR & Payroll</li>
                        <li class="list-group-item">Up to date centralized Employee Records</li>
                        <li class="list-group-item">Recruiting & Applicant Tracking System</li>
                        <li class="list-group-item">Attendance Management</li>
                        <li class="list-group-item">Increment Register</li>


                        <li class="list-group-item">Report Generation</li>
                        <li class="list-group-item">Loan and Advance Register</li>
                        <li class="list-group-item">Allowance and Deduction Register</li>
                        <li class="list-group-item">Benefits management</li>
                        <li class="list-group-item">Create payslips and Timecard for employees</li>
                        <li class="list-group-item">Auto calculates tax and statutory deductions</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item active">Accounting</li>
                        <li class="list-group-item">Chart of accounts</li>
                        <li class="list-group-item">Client records management</li>
                        <li class="list-group-item">Invoice creation</li>
                        <li class="list-group-item">Double entry, accrual accounting</li>
                        <li class="list-group-item">Ledger & Trail Balance</li>
                        <li class="list-group-item">Multi-user</li>

                    </ul>
                </div>

            </div>


            <div class="form-group d-md-none">
                &nbsp;
            </div>
            <a class="btn btn-danger  btn-lg badge-pill px-md-5" href="~/About" id="registerLink">Read More</a>
            <div class="form-group d-md-none">
                &nbsp;
            </div>
        </div>
    </div>

</div>



@*<div class="card bg-white border-0 text-dark">
        <img class="card-img" src="@Url.Content("~/Images/whoweare.jpg?"+@DateTime.Now.ToFileTime())" alt="Card image">
        <div class="card-img-overlay p-md-5  text-center">

        </div>
    </div>*@

<div class="container">
    <div class="form-group d-md-none">
        &nbsp;
    </div>
    <div class="row text-center p-md-5 m-md-0">
        <div class="col-md-12 p-md-1">
            <h1 class="text-info"><strong>Our offers</strong></h1>
            <h4 class="m-md-2">We offer different packages for different enterprise</h4>
        </div>
    </div>
    <div class="form-group d-md-none">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title"><strong class="text-white">Small</strong></h1>
                </div>
                <div class="card-body h-100">
                    <div class="d-md-inline-block">
                        <h1 class="display-3 p-md-0 m-md-0"><strong class="text-warning">$60</strong></h1>
                    </div>
                    <div class="d-md-inline-block">
                        <p class="card-text my-md-2">/ Month</p>
                    </div>
                    <p class="card-text my-md-2">Good for Start-up</p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-outline-dark d-block" href="/Register" id="registerLink">Try free for 14 days</a>
                    @using (Html.BeginForm("Purchase", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="1" name="SubId" />
                        <span class="text-center align-middle">or</span>
                        <input type="submit" class="btn btn-link px-md-0" value="purchase now" />
                    }
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">HR, Payroll &amp; Accounts only</li>

                    <li class="list-group-item">Support by LiveChat or Email</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-success">
                    <h1 class="card-title"><strong class="text-white">Medium</strong></h1>
                </div>
                <div class="card-body h-100">
                    <div class="d-md-inline-block">
                        <h1 class="display-3 p-md-0 m-md-0"><strong class="text-warning">$50</strong></h1>
                    </div>
                    <div class="d-md-inline-block">
                        <p class="card-text my-md-2">/ Month</p>
                    </div>
                    <p class="card-text my-md-2">when billed annually</p>

                </div>
                <div class="card-footer text-center" style="min-height:100px">
                    <a class="btn btn-success d-block" href="/Register" id="registerLink">Try free for 14 days</a>

                    @using (Html.BeginForm("Purchase", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="2" name="SubId" />
                        <span class="text-center align-middle">or</span>
                        <input type="submit" class="btn btn-link px-md-0" value="purchase now" />
                    }


                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">HR, Payroll &amp; Accounts only</li>

                    <li class="list-group-item">Support by LiveChat or Email</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h1 class="card-title"><strong class="text-white">Large</strong></h1>
                </div>
                <div class="card-body h-100">
                    <div class="d-md-inline-block">
                        <h1 class="display-3 p-md-0 m-md-0"><strong class="text-warning">Contact</strong></h1>
                    </div>
                    @*<div class="d-md-inline-block">
                            <p class="card-text my-md-2">/ Month</p>
                        </div>*@
                    <p class="card-text my-md-2">Customizable solutions</p>

                </div>
                <div class="card-footer text-center" style="min-height:100px">
                    <a class="btn btn-outline-dark d-block" href="/Contact" id="registerLink">Contact us</a>
                    <span class="text-center align-middle">or</span>
                    <a class="btn btn-link px-md-0" href="/Register" id="registerLink">Try free for 14 days</a>


                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">HR, Payroll &amp; Accounts Only</li>

                    <li class="list-group-item">Support by remote desktop client, LiveChat, or Email</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="row text-center p-md-5 m-md-0">
        <div class="col-md-12">

        </div>
    </div>
    <div class="form-group d-md-none">
        &nbsp;
    </div>
</div>


<div class="container-fluid bg-light">

    <div class="container">
        <div class="form-group d-md-none">
            &nbsp;
        </div>
        <div class="row text-center p-md-5 m-md-0">
            <div class="col-md-12 p-md-1">
                <h1 class="text-info"><strong>Solution For Every Business</strong></h1>
                <h4 class="m-md-4">From small business to enterprise, we've got you covered!</h4>

            </div>
        </div>
        <div class="form-group d-md-none">
            &nbsp;
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><strong class="text-info">HR &amp; Payroll</strong></h2>


                </div>

            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><strong class="text-info">Accounts</strong></h2>

                </div>

            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><strong class="text-info">Microfinance</strong></h2>

                </div>

            </div>
        </div>

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-subtitle"><strong class="text-info">E-Commerce</strong></h2>

                </div>

            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-subtitle"><strong class="text-info">School Management</strong></h2>

                </div>

            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-subtitle"><strong class="text-info">Asset Register</strong></h2>

                </div>

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 p-md-4">
                &nbsp;
            </div>
        </div>
    </div>

</div>


<div class="row text-center p-md-5 m-md-0">
    <div class="form-group d-md-none">
        &nbsp;
    </div>
    <div class="col-md-12 p-md-1">
        <h1 class="text-info"><strong>Why Choose Nyika?</strong></h1>
        <h4 class="m-md-4">You love simplicity. So are we. Let’s grow business together.</h4>
    </div>
    <div class="form-group d-md-none">
        &nbsp;
    </div>
</div>


<div class="container my-md-0 px-md-5 ">
    <div class="row py-md-2 px-md-5">
        <div class="col-3 p-1">
            <img src="@Url.Content("~/Images/wearewithyou.jpg?"+@DateTime.Now.ToFileTime())" class="img-fluid" />
        </div>
        <div class="col-9 p-md-5 shadow-sm">
            <h2 class="text-info">We are with you every step of the way.</h2>
            <p class="text-muted">
                Whatever company size, our professional staff is here to assist you every step starting from free company registration,
                setup basic information and record keeping. Before pay for any of our subscription, we encourage you to check the solution and communicate with us.
                We are here 24/7/365 to assist you with any aspect of your user experience. Allow us the opportunity to exceed your expectations.
            </p>
        </div>
    </div>
    <div class="form-group d-md-none">
        &nbsp;
    </div>
    <div class="row py-md-2 px-md-5">

        <div class="col-9 p-md-5 shadow-sm">
            <h2 class="text-info">Get started quickly & easily.</h2>
            <p class="text-muted">
                For example, when you register a company using valid email address you become a super admin and we prepare a
                demo company for you instantly, so that you can just add new data or modify demo data and generate reports to check the solution
                match with your desire outcomes or identify the scope of customization you need.<strong class="text-danger">
                    We charge for
                    customization separately after review the scope of work.
                </strong>
            </p>
        </div>
        <div class="col-3 p-1">
            <img src="@Url.Content("~/Images/getstarted.jpg?"+@DateTime.Now.ToFileTime())" class="img-fluid" />
        </div>
    </div>
    <div class="form-group d-md-none">
        &nbsp;
    </div>
    <div class="row py-md-2 px-md-5">
        <div class="col-3 p-1">
            <img src="@Url.Content("~/Images/letustransfer2.jpg?"+@DateTime.Now.ToFileTime())" class="img-fluid" />
        </div>
        <div class="col-9 p-md-5 shadow-sm">
            <h2 class="text-info">Let us transfer your existing data for you.</h2>
            <p class="text-muted">
                Our migrations team is happily standing by to transfer your existing data from your prior desktop application
                or any other online service in CSV or Excel Format and upload it on our platform.
            </p>
        </div>

    </div>
    <div class="form-group d-md-none">
        &nbsp;
    </div>
    <div class="row py-md-2 px-md-5">
        <div class="col-9 p-md-5 shadow-sm">
            <h2 class="text-info">Our guarantee to you.</h2>
            <p class="text-muted">
                <h6 class="text-warning"><strong>24/7/365 Support</strong></h6>
                Our support staff is available 24/7/365 to assist you via LiveChat, or Email with any service-related issues.
                <br />
            </p>
        </div>
        <div class="col-3 p-1">
            <img src="@Url.Content("~/Images/ourguarantee2.jpg?"+@DateTime.Now.ToFileTime())" class="img-fluid" />
        </div>
    </div>

    <div class="form-group d-md-none">
        &nbsp;
    </div>

</div>


